<div class="container min-h-screen grid grid-nogutter">
  <div class="card-container w-screen flex flex-wrap justify-content-center align-items-center">
    <div class="grid shadow-8 m-4 surface-card border-round-sm border-400 p-3 col-6 text">
      <div class="flex text-center justify-content-center col-12">
        <h2 class="text-center">Create Question</h2>
      </div>
      <div class="flex justify-content-end col-12">
        <app-button label="Add Form" btnType="button" link="/questions/create" (clickChange)="onAdd()"></app-button>
      </div>
      <div class="col-12 grid grid-nogutter align-items-center w-8 gy-md-3">
        <form [formGroup]="questionsInsertReqDto" (ngSubmit)="onSubmit()">
          <div class="col-12">
            <div class=" col-12 mt-2" *ngFor="let qf of forms.controls; let i = index;" formArrayName="data">
              <div [formGroupName]="i" class="col-12">
                <div class="col-12 my-2">
                  <app-button label="Delete Form" classBtn="p-button-danger" btnType="button" link="/questions/create"
                    (clickChange)="remove(i)"></app-button>
                </div>
                <div class="col-12 md:col-2">
                  <label for="question">Question <span class="text-red-500">*</span></label>
                </div>
                <div class="col-12 md:col-10">
                  <textarea rows="5" cols="40" class="w-full" type="text" pInputTextarea id="question" required
                    formControlName="question"></textarea>
                  <small class="p-error block mt-1"
                    *ngIf="questionsInsertReqDto.get('question')?.invalid&&questionsInsertReqDto.get('question')?.touched">This
                    Fill is Required</small>
                </div>
                <div class="col-12">
                  <label for="option">Option</label>
                </div>
                <div class="col-12">
                  <app-button label="Add Option" btnType="button" (clickChange)="onAddOption(i)"
                    link="/questions/create"></app-button>
                </div>
                <div class="col-12 md:col-10 my-2" *ngFor="let q of questionOption(i).controls; let j = index;"
                  formArrayName="listQuestionOption">
                  <div class="grid gy-2" [formGroupName]="j">
                    <div class="col-12 md:col-10">
                      <input class="w-full" type="text" pInputText id="option" required formControlName="labels">
                    </div>
                    <div class="col-12 md:col-2">
                      <p-dropdown formControlName="isAnswer" [options]="keyAnswer" optionValue="value"
                        optionLabel="name" placeholder="Choose Key"></p-dropdown>
                    </div>
                    <div class="col-12 my-2">
                      <app-button label="Delete Option" classBtn="p-button-danger" link="/questions/create"
                        (clickChange)="removeOption(i,j)"></app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-10 mt-2 grid">
              <div class="col-6">
                <app-button btnType="button" classBtn="p-button-secondary mb-2" label="Back"
                  routerLink="/questions"></app-button>
              </div>
              <div class="col-6">
                <app-button label="Submit" btnType="submit" [loading]="loading"
                  [disabled]="questionsInsertReqDto.invalid"></app-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>