<!-- home.component.html -->
<!-- <pre>{{ industryId|json }}</pre> -->
<!-- <pre>{{ jobs | json }}</pre> -->
<!-- <pre>{{ locations | json }}</pre> -->
<!-- <pre>{{ searchJobReqDto.value|json }}</pre> -->
<div class="home-container">
  <!-- Search Options -->
  <form [formGroup]="searchJobReqDto" (ngSubmit)="getAllJobWithPagination()">
    <div class="container mt-5 grid grid-nogutter justify-content-center align-content-center">
      <div class="sub-container col-10 grid justify-content-between">
        <h4 class="text-dark col-10 -mb-3">
          Search Vacancy
        </h4>
        <div class="search-options grid grid-nogutter col-12 justify-content-between mt-3">
          <div class="col-12 md:col-4 md:-ml-2">
            <input pInputText type="text" placeholder="Search Job" formControlName="jobName" [style]="{'width':'100%'}">
          </div>
          <div class="col-12 md:col-3">
            <p-dropdown placeholder="Location" [options]="locations" [filter]="true" optionValue="cityId"
              optionLabel="cityName" formControlName="location" [showClear]="true" styleClass="w-full"
              (onClear)="onLocationClear()">
            </p-dropdown>
          </div>
          <div class="col-12 md:col-3">
            <p-dropdown placeholder="Position" [options]="positions" [filter]="true" optionValue="id"
              optionLabel="positionName" formControlName="position" [showClear]="true" styleClass="w-full"
              (onClear)="onPositionClear()">
            </p-dropdown>
          </div>
          <div class="col-12 text-center md:col-1">
            <button type="submit" pButton pRipple class="p-button-primary" class="w-full">
              <i class="pi pi-search m-1"></i> Cari
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container grid justify-content-center">
    <div class="sub-container grid col-10">
      <div class="filter col-12 md:col-3 shadow-1 surface-card border-round-sm mt-5">
        <form [formGroup]="searchJobReqDto">
          <p-accordion [multiple]="true" [activeIndex]="[0]">
            <p-accordionTab header="Employment Type">
              <div class="flex flex-column gap-2">
                <div *ngFor="let type of types" class="field-checkbox">
                  <p-checkbox name="group" (onChange)="employmentTypeChange($event,type.id)" [value]="type.id"
                    [inputId]="type.typeCode" (click)="getAllJobsByEmploymentType">
                  </p-checkbox>
                  <label [for]="type.typeCode">{{ type.typeName }}</label>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Salary">
              <div class="grid">
                <div class="col-3">
                  <span for="start">Start </span>
                </div>
                <div class="col-9">
                  <p-inputNumber id="start" inputId="withoutgrouping" formControlName="salaryStart" class="w-full"
                    styleClass="w-full">
                  </p-inputNumber>
                </div>
                <div class="col-3">
                  <span for="end">End </span>
                </div>
                <div class="col-9">
                  <p-inputNumber id="end" inputId="withoutgrouping" formControlName="salaryEnd" class="w-full"
                    styleClass="w-full">
                  </p-inputNumber>
                </div>
                <button type="button" pButton pRipple class="p-button-success col-12 text-center"
                  (click)="getAllJobsBySalary()">
                  <i class="pi pi-search m-1"></i> Cari
                </button>
              </div>
            </p-accordionTab>
          </p-accordion>
        </form>
      </div>

      <div class="content col-12 md:col-8 md:col-offset-1 grid ">
        <p-card class="col-12 md:col-6 mt-4 min-h-20rem md:min-h-15rem" *ngFor="let job of jobs"
          routerLink="/home/detail/{{job.id}}">
          <div class="thumbnail grid justify-content-center">
            <div class="col-4 justify-content-center align-content-center">
              <img src="{{ job.companyPhoto|urlCandidate }}" alt="Image" class="w-full">
            </div>
            <div class="title col-8 grid">
              <span class="col-10">{{ job.jobTitle }}</span>
              <i class="pi pi-heart col-2 flex justify-content-end" *ngIf="!job.isBookmark"
                (click)="changeSaveJob(job.id,job.isBookmark,job.saveJobId,$event)" style="color: darkgrey;"></i>
              <i class="pi pi-heart-fill col-2 flex justify-content-end" *ngIf="job.isBookmark"
                (click)="changeSaveJob(job.id,job.isBookmark,job.saveJobId,$event)" style="color: red;"></i>
              <span class="col-10">
                <a routerLink="/companies/detail/{{ job.companyId }}" class="text-primary">{{ job.companyName }}</a>
              </span>

            </div>
          </div>
          <div class="city">
            <i class="pi pi-map-marker"></i>
            <span>
              {{ job.cityName }}
            </span>
          </div>
          <div class="Salary">
            <i class="pi pi-dollar"></i>
            <span> {{ job.salaryStart }} -</span>
            <span> {{ job.salaryEnd }}</span>
          </div>
          <div class="Industry">
            <i class="pi pi-building"></i>
            <span>{{ job.industryName }}</span>
          </div>
          <div class="footer">
            <small>
              <i class="pi pi-clock"></i>
              <span> {{ job.createdAt | timeAgo }} </span>
            </small>
          </div>
        </p-card>
      </div>
    </div>
  </div>

  
<p-paginator
  (onPageChange)="renderPage($event)"
  [first]="firstData"
  [rows]="dataPerRow"
  [totalRecords]="lengthData"
  >
</p-paginator>

</div>