p-card:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(7, 105, 138, 0.1);
  text-decoration: none;
}
.title a {
    text-decoration: none;
}
.title a:hover {
    text-decoration: underline;
}

p-card .pi-heart,
p-card .pi-heart {
  font-size: 1.2em;
  transition: font-size 0.3s;
}

p-card .pi-heart:hover,
p-card .pi-heart-fill:hover {
  font-size: 1.4em;
  transition: font-size 0.3s;
}