<div class="container mt-5 mb-5">
    <h2>Profile</h2>
    <hr />
    <div class="row">
        <div class="grid mb-3">
            <div class="col-2">
                <label for="name">Email</label>
            </div>
            <div class="col-10">
                <label>{{profile.userEmail}}</label>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2">
                <label for="name">Full Name</label>
            </div>
            <div class="col-10">
                <label>{{profile.fullName}}</label>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2">
                <label for="type">Role</label>
            </div>
            <div class="col-10">
                <label>{{profile.roleName}}</label>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2">
                <label for="type">Gender</label>
            </div>
            <div class="col-10">
                <label>{{profile.userGender}}</label>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2">
                <label for="type">Phone Number</label>
            </div>
            <div class="col-10">
                <label>{{profile.userPhone}}</label>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2">
                <label for="type">Profile Photos</label>
            </div>
            <div class="col-10">
                <img [src]="profile.fileId | urlAdmin" style="height: 8rem; width: 8rem">
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col-2 col-offset-2">
                <app-button classBtn="p-button primary bi-pencil-square" label="Edit Profile"
                    routerLink="/users/profiles/update/{{profile.userId}}"></app-button>
            </div>
        </div>
    </div>
</div>