<div class="container mt-5 mb-5 grid grid-nogutter justify-content-center">
  <div class="sub-container col-9 shadow-2 surface-card border-round-sm border-800 p-3">
    <div class="col-12">
      <h2>Profile</h2>
      <hr />
    </div>
    <div class="col-12 grid grid-nogutter">
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="name">Email</label>
        </div>
        <div class="col-10">
          <label>{{profile?.userEmail}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="name">Full Name</label>
        </div>
        <div class="col-10">
          <label>{{profile?.fullName}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="type">Role</label>
        </div>
        <div class="col-10">
          <label>{{profile?.roleName}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="type">Gender</label>
        </div>
        <div class="col-10">
          <label>{{profile?.userGender}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="type">Phone Number</label>
        </div>
        <div class="col-10">
          <label>{{profile?.userPhone}}</label>
        </div>
      </div>
      <div class="col-12 md:col-6 mb-3">
        <div class="col-2">
          <label for="type">Profile Photos</label>
        </div>
        <div class="col-10">
          <img [src]="profile?.fileId | urlAdmin" style="height: 8rem; width: 8rem">
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="col-12 grid justify-content-end">
          <app-button classBtn="p-button primary bi-pencil-square" label="Edit Profile"
            routerLink="/users/profiles/update/{{profile?.userId}}"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>