<div class="min-h-screen">
  <div class=" grid grid-nogutter justify-content-center">
    <div class="col-12">
      <h3 class="text-center">Position List</h3>
    </div>
    <div class="col-9 shadow-2 surface-card border-round-sm border-800 p-2">
      <p-table #position [value]="positions" styleClass="p-datatable-striped" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single" [globalFilterFields]="['benefitName']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <app-button label="Add Position" class="p-button-primary" (clickChange)="add()"></app-button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input #searchInput pInputText type="text" [(ngModel)]="search"
                (input)="position.filterGlobal(search ,'contains')" placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Code </th>
            <th scope="col">Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p let-i="rowIndex">
          <tr>
            <td scope="row">{{ i+1 }}</td>
            <td>{{ p.positionCode }}</td>
            <td>{{ p.positionName }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


  <!-- Modal Add-->
  <p-dialog header="Add Data Position" [modal]="true" [(visible)]="visibleAdd" [style]="{ width: '30vw' }"
    [breakpoints]="{'768px':'90vw'}" [draggable]="false">
    <form [formGroup]="positionInsertReqDto" (ngSubmit)="insertPosition()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="inputName">Position Name<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 " id="inputName" required formControlName="positionName">
          <small class="p-error block mt-1"
            *ngIf="positionInsertReqDto.get('positionName')?.invalid&&positionInsertReqDto.get('positionName')?.touched">This
            Fill is Required</small>
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <app-button btnType="submit" [loading]="loading" [disabled]="positionInsertReqDto.invalid" label="Submit">
          </app-button>
        </div>
      </div>
    </form>
  </p-dialog>