

<div class="profile-container grid justify-content-center m-3">
  <p-accordion class="col-11 md:col-8 custom-accordion">
    <p-accordionTab header="Basic Information" [selected]="true">
      <div class="p-2 md:p-1">
        <div class="grid grid-nogutter">
          <div class="col-12 md:col-3">
            <div class="grid justify-content-center p-3">
              <img *ngIf="userData.photoId" src="{{ userData.photoId|urlCandidate}}" alt="Foto Profil" class="w-5 md:w-full">
              <img *ngIf="!userData.photoId" src="../../../../assets/images/avatar.png" alt="Foto Profil" class="w-5 md:w-full">
            </div>
          </div>
          <div class="col-12 md:col-9">
            <div class="info grid">
              <div class="col-12 md:col-6">
                <div class="grid justify-content-center md:justify-content-start">
                  <span class="p-3 text-3xl text-bold">{{ userData.fullName }}</span>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <div class="grid justify-content-center md:justify-content-start">
                  <app-button classBtn="p-button-success mt-2" btnType="button" (clickChange)="editUser()" iconBtn="pi pi-pencil" label="Edit Profile">
                  </app-button>
                </div>
              </div>
              <div class="left-info col-6 p-3">
                <div class="nik grid">
                  <div class="col-12 font-semibold text-gray-500">NIK</div>
                  <div class="col-12 mb-3">{{ userData.idNumber ? userData.idNumber:'-' }}</div>
                </div>
                <div class="grid email">
                  <div class="col-12 font-semibold text-gray-500">Email</div>
                  <div class="col-12 mb-3">
                    {{ userData.email}}
                  </div>
                </div>
                <div class="grid gender">
                  <div class="col-12 font-semibold text-gray-500">Gender</div>
                  <div class="col-12 mb-3">{{ userData.gender ? userData.gender:'-' }}</div>
                </div>
              </div>
              <div class="right-info col-6 p-3">
                <div class=" grid phone">
                  <div class="col-12 font-semibold text-gray-500">Phone</div>
                  <div class="col-12 mb-3">{{ userData.phone ? userData.phone:'-' }}</div>
                </div>
                <div class="grid marital-status">
                  <div class="col-12 font-semibold text-gray-500">Marital Status</div>
                  <div class="col-12 mb-3">{{ userData.maritalStatus ? userData.maritalStatus:'-' }}</div>
                </div>
                <div class="grid expected-salary">
                  <div class="col-12 font-semibold text-gray-500">Expected Salary</div>
                  <div class="col-12 mb-3">{{ userData.expectedSalary ? 'Rp'+userData.expectedSalary:'-' }}</div>
                </div>
                <div class="grid years-old">
                  <div class="col-12 font-semibold text-gray-500">Years Old</div>
                  <div class="col-12 mb-3">{{ userData.age ? userData.age:'-' }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Summary" [selected]="true">
      <div class="content mt-3">{{ userData.summary ? userData.summary:"- You haven't summary -" }}</div>
      <div class="grid md:justify-content-end">
          <app-button classBtn="p-button-success" btnType="button" (clickChange)="updateSummary()" iconBtn="pi pi-pencil" label="Edit">
          </app-button>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Education" [selected]="true">
      <div class="grid md:justify-content-end">
        <app-button classBtn="p-button-primary" btnType="button" (clickChange)="addEducation()" iconBtn="pi pi-plus" label="Add">
        </app-button>
      </div>
      <div class="p-2 md:p-1">
        <div class="grid" *ngFor="let e of educations;let i =index">
          <div class="col-4 md:col-2 text-gray-500">{{ e.startDate | dateFormatPipe }} -
            {{ e.endDate | dateFormatPipe }}</div>
          <div class="col-6 md:col-8">
            <div class="font-semibold">{{e.educationName}}
            </div>
            <span>({{ e.startDate | dateDifference: e.endDate }})</span>
          </div>
          <div class="col-12 lg:col-2 mt-4">
            <div class="grid justify-content-end">
                <app-button classBtn="p-button-danger mb-2" btnType="button" (clickChange)="deleteEducation(e.id)" iconBtn="pi pi-trash" tooltipBtn="Delete"  tooltipPstn="top">
                </app-button>
                <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateEducation(e.id,i)" iconBtn="pi pi-pencil" tooltipBtn="Update"  tooltipPstn="top">
                </app-button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Work Experience" [selected]="true">
      <div class="grid md:justify-content-end">
        <app-button btnType="button" (clickChange)="addWorkExp()" iconBtn="pi pi-plus" label="Add">
        </app-button>
      </div>
      <div class="p-2 md:p-1">
        <div class="grid" *ngFor="let w of workExperience;let i =index">
          <div class="col-4 md:col-2 text-gray-500">{{ w.startDate | dateFormatPipe }} -
            {{ w.endDate | dateFormatPipe }}</div>
          <div class="col-6 md:col-8">
            <div class="font-semibold">{{ w.companyName }}</div>
            <div class="text-gray-500">{{ w.positionName }}</div>
            <span>({{ w.startDate | dateDifference: w.endDate }})</span>
          </div>
          <div class="col-12 lg:col-2 mt-4">
            <div class="grid justify-content-end">
                <app-button classBtn="p-button-danger mb-2" btnType="button" (clickChange)="deleteWorkExp(w.id)" iconBtn="pi pi-trash" tooltipBtn="Delete"  tooltipPstn="top">
                </app-button>
                <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateWorkExp(w.id,i)" iconBtn="pi pi-pencil" tooltipBtn="Update"  tooltipPstn="top">
                </app-button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Skills" [selected]="true">
      <div class="grid md:justify-content-end">
          <app-button classBtn="p-button-primary mb-2" btnType="button" (clickChange)="addSkill()" iconBtn="pi pi-plus" label="Add">
          </app-button>
          <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateSkill()" iconBtn="pi pi-pencil" label="Edit">
          </app-button>
      </div>
      <div class="m-2 md:p-1 mt-5">
        <div class="grid">
          <div
            class="skill col-12 md:col-6 lg:col-3 lg:m-0 border-100 surface-overlay border-3 border-round font-bold grid justify-content-center"
            *ngFor="let s of skills">
            <p-chip class="intermediate col-12 text-center" label="{{ s.levelName }}"></p-chip>
            <h3 class="p-1">{{ s.skillName }}</h3>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Organization Experience" [selected]="true">
      <div class="grid md:justify-content-end">
          <app-button btnType="button" (clickChange)="addOrganization()" iconBtn="pi pi-plus" tooltipBtn="Add" label="Add" tooltipPstn="top">
          </app-button>
      </div>
      <div class="p-2 md:p-1">
        <div class="grid" *ngFor="let o of organization;let i=index">
          <div class="col-12 md:col-8">
            <div class="font-bold">{{ o.organizationName }}</div>
            <div class="font-semibold">{{ o.positionName }}</div>
            <div class="text-gray-500">{{ o.startDate | dateFormatPipe }} - {{ o.endDate | dateFormatPipe }}
              <span>({{ o.startDate | dateDifference: o.endDate }})</span></div>
            <div class="text-gray-500">{{ o.description }}</div>
          </div>
          <div class="col-12 lg:col-4 mt-4">
            <div class="grid justify-content-end">
                <app-button classBtn="p-button-danger mb-2" btnType="button" (clickChange)="deleteOrganization(o.id)" iconBtn="pi pi-trash" tooltipBtn="Delete"  tooltipPstn="top">
                </app-button>
                <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateOrganization(o.id,i)" iconBtn="pi pi-pencil" tooltipBtn="Update"  tooltipPstn="top">
                </app-button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Family" [selected]="true">
      <div class="grid md:justify-content-end">
        <app-button btnType="button" (clickChange)="addFamily()" iconBtn="pi pi-plus" label="Add">
        </app-button>
      </div>
      <div class="p-2 md:p-1">
        <div class="grid" *ngFor="let f of families;let i = index">
          <div class="col-12 md:col-8">
            <div class="font-bold">{{ f.familyName }}</div>
            <div class="font-semibold">{{ f.relationshipName }}</div>
            <div class="text-gray-500">{{ f.familyDegree }}</div>
            <div class="text-gray-500">{{ f.familyBirthDate }}</div>
          </div>
          <div class="col-12 lg:col-4 mt-4">
            <div class="grid justify-content-end">
                <app-button classBtn="p-button-danger mb-2" btnType="button" (clickChange)="deleteFamily(f.id)" iconBtn="pi pi-trash" tooltipBtn="Delete"  tooltipPstn="top">
                </app-button>
                <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateFamily(f.id,i)" iconBtn="pi pi-pencil" tooltipBtn="Update"  tooltipPstn="top">
                </app-button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="col-11 md:col-8">
    <p-accordionTab header="Resume" [selected]="true">
      <div class="content grid md:justify-content-between">
        <a *ngIf="userData.cvId" href="{{ userData.cvId|urlCandidate }}">
          <p-button icon="pi pi-download" label="Download CV" styleClass="p-button-raised p-button-info"></p-button>
        </a>
        <span *ngIf="!userData.cvId" class="line-height-2"  > -  You haven't uploaded a cv - </span>
        <app-button classBtn="p-button-success ml-2 mb-2" btnType="button" (clickChange)="updateCv()" iconBtn="pi pi-pencil" tooltipBtn="Update"  tooltipPstn="top">
        </app-button>
      </div>
    </p-accordionTab>
  </p-accordion>
  <p-scrollTop styleClass="custom-scrolltop" [threshold]="150" icon="pi pi-arrow-up">
  </p-scrollTop>
</div>

<!-- Modal Edit User-->
<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visibleEditUser" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '45vw' }" [draggable]="false">
  <form [formGroup]="candidateUpdateReqDto" (ngSubmit)="submitUpdateCandidate()">
    <div class="container">
      <div class="card-container grid justify-content-center align-items-center">
        <div class="grid border-50 m-4 p-3 md:col-10 text">
          <label for="formFile" class="col-12 md:col-3 form-label">Candidate Photo</label>
          <p-fileUpload mode="basic" class="col-12 md:col-9" chooseLabel="Upload" accept="image/*"
            (onSelect)="fileUpload($event)">
          </p-fileUpload>
          <div class="col-12 md:col-3">
            <label for="email">Email</label>
          </div>
          <div class="col-12 md:col-9">
            <input pInputText type="text" class="form-control col-12 p-disabled" id="email" required
              formControlName="email">
          </div>
          <div class="col-12 md:col-3">
            <label for="nik">NIK</label>
          </div>
          <div class="col-12 md:col-9">
            <input pInputText type="text" class="form-control col-12" id="nik" formControlName="idNumber">
          </div>
          <div class="col-12 md:col-3">
            <label for="fullName">Fullname</label>
          </div>
          <div class="col-12 md:col-9">
            <input pInputText type="text" class="form-control col-12" id="fullName" formControlName="fullName">
          </div>
          <div class="col-12 md:col-3">
            <label for="mobileNumber">Mobile Phone</label>
          </div>
          <div class="col-12 md:col-9">
            <input pInputText type="text" class="form-control col-12" id="mobileNumber"
              formControlName="mobileNumber">
          </div>
          <div class="col-12 md:col-3">
            <label for="gender">Gender</label>
          </div>
          <div class="col-12 md:col-9">
            <p-dropdown [options]="gender" optionValue="genderCode" optionLabel="genderName"
              formControlName="genderCode" id="gender" styleClass="w-full">
            </p-dropdown>
          </div>
          <div class="col-12 md:col-3">
            <label for="salary">Expected Salary</label>
          </div>
          <div class="col-12 md:col-9">
            <p-inputNumber id="salary" inputId="percent" prefix="Rp" class="w-full" styleClass="w-full"
              formControlName="expectedSalary"> </p-inputNumber>
          </div>
          <div class="col-12 md:col-3">
            <label for="companyAddress">Birthdate</label>
          </div>
          <div class="col-12 md:col-9">
            <p-calendar appendTo="body" [showIcon]="true" formControlName="birthdateTemp" styleClass="w-full"
              (onSelect)="convertCandidateDate($event)" ></p-calendar>
          </div>
          <div class="col-12 md:col-3">
            <label for="companyName">Marital Status</label>
          </div>
          <div class="col-12 md:col-9">
            <p-dropdown [options]="marital" optionValue="maritalStatusCode" optionLabel="maritalStatusName"
              styleClass="w-full" appendTo="body" formControlName="maritalStatusCode">
            </p-dropdown>
          </div>
          <div class="flex flex-wrap justify-content-end mt-2 col-12">
            <app-button btnType="submit" label="Save Changes">
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Add Education -->
<p-dialog header="Add Education" [modal]="true" [(visible)]="visibleAddEducation" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '45vw' }" [draggable]="false">
  <form [formGroup]="educationInsertReqDto" (ngSubmit)="insertEducation()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Education Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="educationName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" styleClass="w-full"
        (onSelect)="convertEducationInsertStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" styleClass="w-full"
        (onSelect)="convertEducationInsertEndDate($event)"></p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Submit" btnType="submit" [disabled]="educationInsertReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Education-->
<p-dialog header="Edit Education" [modal]="true" [(visible)]="visibleUpdateEducation" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '30vw' }" [draggable]="false">
  <form [formGroup]="educationUpdateReqDto" (ngSubmit)="submitUpdateEducation()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Education Name<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required [value]="userId"
          formControlName="educationName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" styleClass="w-full"
        (onSelect)="convertEducationUpdateStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" styleClass="w-full"
        (onSelect)="convertEducationUpdateEndDate($event)"></p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" label="Save Changes" [disabled]="educationUpdateReqDto.invalid">
        </app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Delete Education-->
<p-dialog header="Delete Education" [modal]="true" [(visible)]="visibleDeleteEducation"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '30vw' }" [draggable]="false">
  <div class="grid surface-card border-round-sm border-400">
    <div class="col-12">
      <label for="inputName">Are You Sure to Delete this Data ?</label>
    </div>
    <div class="flex flex-wrap justify-content-end mt-2 col-12">
      <app-button btnType="submit" label="Submit" iconBtn="pi pi-check" (click)="submitDeleteEducation()">
      </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal Add Work Experience -->
<p-dialog header="Add Work Experience" [modal]="true" [(visible)]="visibleAddWorkExp" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '35vw' }" [draggable]="false">
  <form [formGroup]="workExperienceInsertReqDto" (ngSubmit)="insertWorkExperience()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Company Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="companyName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Job Position <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputJobPosition" required formControlName="positionName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From <span class="text-red-500">*</span> </label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" styleClass="w-full"
        (onSelect)="convertExperienceInsertStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" styleClass="w-full"
        (onSelect)="convertExperienceInsertEndDate($event)"></p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Submit" btnType="submit" [disabled]="workExperienceInsertReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Experience-->
<p-dialog header="Edit Work Experience" [modal]="true" [(visible)]="visibleUpdateWorkExp"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '35vw' }" [draggable]="false">
  <form [formGroup]="workExperienceUpdateReqDto" (ngSubmit)="submitUpdateWorkExp()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Company Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="companyName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Job Position <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputJobPosition" required formControlName="positionName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" [readonlyInput]="true"
          styleClass="w-full" (onSelect)="convertExperienceUpdateStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" [readonlyInput]="true"
          styleClass="w-full" (onSelect)="convertExperienceUpdateEndDate($event)"></p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Save Changes" btnType="submit" [disabled]="workExperienceUpdateReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Delete Experience-->
<p-dialog header="Delete Work Experience" [modal]="true" [(visible)]="visibleDeleteWorkExp"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '30vw' }" [draggable]="false">
  <div class="grid surface-card border-round-sm border-400">
    <div class="col-12">
      <label for="inputName">Are You Sure to Delete this Data ?</label>
    </div>
    <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" label="Submit" iconBtn="pi pi-check" (click)="submitDeleteWorkExp()">
        </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal Add Skill-->
<p-dialog header="Add Skill" [modal]="true" [(visible)]="visibleAddSkill" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '40vw' }" [draggable]="false">
  <form [formGroup]="skillCandidateReqDto" (ngSubmit)="submitAddSkillCandidate()">

    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Skill Name<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown placeholder="Select Skill" [options]="allSkill" [filter]="true" optionValue="id"
          optionLabel="skillName" id="inputName" formControlName="skillId" [editable]="true" appendTo="body"
          styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputLevel">Skill Level<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown placeholder="Select Level" [options]="level" optionValue="id" appendTo="body"
          optionLabel="levelName" id="inputLevel" formControlName="levelId" styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Submit" btnType="submit" [disabled]="skillCandidateReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Skill-->
<p-dialog header="Edit Skill" [modal]="true" [(visible)]="visibleUpdateSkill" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '50vw' }" [draggable]="false">
  <div class="grid surface-card border-round-sm border-400" *ngFor="let s of skills">
    <div class="col-12 md:col-9">
      <div class="mb-2">
        <input pInputText value="{{ s.skillName }}" class="col-12 " disabled>
      </div>
      <div class="mb-2">
        <p-dropdown [options]="level" placeholder="{{ s.levelName }}" optionValue="levelCode" optionLabel="levelName"
          styleClass="w-full" appendTo="body"></p-dropdown>
      </div>
    </div>
    <div class="col-12 md:col-3">
        <app-button classBtn="p-button-danger" btnType="button" iconBtn="pi pi-trash" (clickChange)="deleteSkill(s.id)" tooltipBtn="Delete" tooltipPstn="top"></app-button>  
    </div>
  </div>
</p-dialog>

<!-- Modal Delete Skill -->
<p-dialog header="Delete Skill" [modal]="true" [(visible)]="visibleDeleteConfirmation" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '30vw' }" [draggable]="false">
  <div class="p-dialog-content">
    <p>Are you sure you want to delete this skill?</p>
  </div>
  <div class="p-dialog-footer">
    <app-button btnType="submit" label="Submit" (click)="submitDeleteSkill()">
    </app-button>
  </div>
</p-dialog>

<!-- Modal Add Organization -->
<p-dialog header="Add Work Organization" [modal]="true" [(visible)]="visibleAddOrganization"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '30vw' }" [draggable]="false">
  <form [formGroup]="organizationInsertReqDto" (ngSubmit)="insertOrganization()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Organization Name <span class="text-red-500">*</span> </label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="organizationName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Position <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputJobPosition" required formControlName="positionName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From <span class="text-red-500">*</span> </label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" styleClass="w-full"
        (onSelect)="convertOrganizationInsertStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To <span class="text-red-500">*</span> </label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" styleClass="w-full"
        (onSelect)="convertOrganizationInsertEndDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Description <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <textarea pInputText rows="5" type="text" id="inputJobPosition" class="w-full" id="summary" formControlName="description"></textarea>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Submit" btnType="submit" [disabled]="organizationInsertReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Organization-->
<p-dialog header="Edit Organization" [modal]="true" [(visible)]="visibleUpdateOrganization"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '30vw' }" [draggable]="false">
  <form [formGroup]="organizationUpdateReqDto" (ngSubmit)="submitUpdateOrganization()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Organization Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="organizationName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Position <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputJobPosition" required formControlName="positionName">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">From <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="startDateTemp" styleClass="w-full"
        (onSelect)="convertOrganizationUpdateStartDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">To <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="endDateTemp" styleClass="w-full"
        (onSelect)="convertOrganizationUpdateEndDate($event)"></p-calendar>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputJobPosition">Description <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <textarea pInputText rows="5" type="text" id="inputJobPosition" class="w-full" id="summary" formControlName="description"></textarea>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Save Changes" btnType="submit" [disabled]="organizationUpdateReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Delete Organization-->
<p-dialog header="Delete Organization" [modal]="true" [(visible)]="visibleDeleteOrganization"
  [breakpoints]="{'768px': '90vw'}" [style]="{width: '30vw' }" [draggable]="false">
  <div class="grid surface-card border-round-sm border-400">
    <div class="col-12">
      <label for="inputName">Are You Sure to Delete this Data ? </label>
    </div>
    <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" label="Submit" iconBtn="pi pi-check" (click)="submitDeleteOrganization()">
        </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal Add Family -->
<p-dialog header="Add Family" [modal]="true" [(visible)]="visibleAddFamily" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '30vw' }" [draggable]="false">
  <form [formGroup]="familyInsertReqDto" (ngSubmit)="insertFamily()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Family Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="familyName">
      </div>
      <div class="col-12 md:col-3">
        <label for="relation">Relationship <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown [options]="relationship" optionValue="relationshipCode" optionLabel="relationshipName" id="relation"
          formControlName="relationshipCode" appendTo="body" styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="degree">Degree <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown [options]="degree" optionValue="degreeCode" optionLabel="degreeName" id="degree"
          formControlName="degreeCode" appendTo="body" styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">Birthdate <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="birthdateTemp" appendTo="body" styleClass="w-full" (onSelect)="convertFamilyInsertDate($event)">
        </p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Submit" btnType="submit" [disabled]="familyInsertReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Family-->
<p-dialog header="Edit Family" [modal]="true" [(visible)]="visibleUpdateFamily" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '30vw' }" [draggable]="false">
  <form [formGroup]="familyUpdateReqDto" (ngSubmit)="submitUpdateFamily()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Family Name <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="familyName">
      </div>
      <div class="col-12 md:col-3">
        <label for="relation">Relationship <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown [options]="relationship" optionValue="relationshipCode" optionLabel="relationshipName" id="relation"
          formControlName="relationshipCode" appendTo="body" styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="degree">Degree <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown [options]="degree" optionValue="degreeCode" styleClass="w-full" optionLabel="degreeName" id="degree"
          formControlName="degreeCode" appendTo="body" styleClass="w-full">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">Birthdate <span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-calendar appendTo="body" [showIcon]="true" formControlName="birthdateTemp" appendTo="body" styleClass="w-full" (onSelect)="convertFamilyUpdateDate($event)">
        </p-calendar>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Save Changes" btnType="submit" [disabled]="familyUpdateReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Delete Family-->
<p-dialog header="Delete Family" [modal]="true" [(visible)]="visibleDeleteFamily" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '30vw' }" [draggable]="false">
  <div class="grid surface-card border-round-sm border-400">
    <div class="col-12">
      <label for="inputName">Are You Sure to Delete this Data ? </label>
    </div>
    <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" label="Submit" iconBtn="pi pi-check" (click)="submitDeleteFamily()">
        </app-button>
    </div>
  </div>
</p-dialog>

<!-- Modal Update Summary-->
<p-dialog header="Edit Summary" [modal]="true" [(visible)]="visibleUpdateSummary" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '40vw' }" [draggable]="false">
  <form [formGroup]="summaryUpdateReqDto" (ngSubmit)="submitUpdateSummary()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="summary">Summary<span class="text-red-500">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <textarea pInputText rows="5" type="text" class="w-full" id="summary" required formControlName="summary">
        </textarea>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button label="Save Changes" btnType="submit" [disabled]="summaryUpdateReqDto.invalid"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update CV-->
<p-dialog header="Update Resume" [modal]="true" [(visible)]="visibleUpdateCv" [breakpoints]="{'768px': '90vw'}"
  [style]="{width: '40vw' }" [draggable]="false">
  <form [formGroup]="cvUpdateReqDto" (ngSubmit)="submitUpdateCv()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12">
        <label for="inputName">Note: Your profile is the first thing recruiters see and not your uploaded resume</label>
      </div>
      <div class="col-8">
        <span>
          <a *ngIf="userData.cvId" href="{{ userData.cvId|urlCandidate }}">
            {{ userData.cvId }}
          </a>
          <p *ngIf="!userData.cvId">
            You haven't uploaded a cv
          </p>
        </span>
      </div>
      <div class="col-4">
        <p-fileUpload mode="basic" class="col-12 md:col-9" chooseLabel="Upload" (onSelect)="cvUpload($event)" accept=".pdf">
        </p-fileUpload>
      </div>
      <div class="col-12">
        <div class="grid grid-nogutter justify-content-end">
          <app-button label="Save Changes" btnType="submit"></app-button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>