<pre>{{ job|json }}</pre>
<pre>{{ idJob|json }}</pre>
<!-- <pre>{{ company|json }}</pre> -->
<div class="home-container">
  <div class="container grid justify-content-center">
    <div class="sub-container col-6 mt-3 grid">
      <div class="col-4 justify-content-center align-content-center">
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="200"
          [preview]="true"></p-image>
      </div>
      <div class="title col-8 grid">
        <!-- <span class="col-12">{{ job.jobTitle }}</span> -->
        <a routerLink="" class="col-12 text-primary" style="text-decoration: none;">
          {{ job.jobTitle }}
        </a>
        <div class="city col-12">
          <i class="pi pi-map-marker"></i>
          <span>
            {{ job.cityName }}
          </span>
        </div>
        <div class="Salary col-12">
          <i class="pi pi-dollar"></i>
          <span> {{ job.salaryStart }} -</span>
          <span> {{ job.salaryEnd }}</span>
        </div>
        <div class="Industry col-12">
          <i class="pi pi-building"></i>
          <span> {{ job.industryName }}</span>
        </div>
        <div class="footer col-12 mt-3">
          <small>
            <i class="pi pi-clock"></i>
            <span>{{ job.createdAt }} Tayang 14 Hari Yang Lalu</span>
            <span> * </span>
            <span>{{ job.updatedAt }} Diperbaharui 3 hari yang lalu</span>
          </small>
        </div>
        <div class="button grid col-12 gap-3 text-center">
          <button type="submit" pButton pRipple class="p-button-primary col-3 text-center" (click)="assignJob(job.id)">
            <span class="col-12">Lamar</span>
          </button>
          <button type="submit" pButton pRipple class="p-button-primary col-3 text-center">
            <span class="col-12">
              <i class="pi pi-star m-1"></i> Tandai
            </span>
          </button>
          <button type="submit" pButton pRipple class="p-button-primary col-3 text-center">
            <span class="col-12">
              <i class="pi pi-share-alt m-1"></i> Bagikan
            </span>
          </button>
        </div>
      </div>
      <div class="description">
        <h3>
          Job Description
        </h3>
        <span>
          {{ job.description }}
        </span>
        <div class="benefit">
          <h3>
            Benefit
          </h3>
          <span *ngIf="!benefits[0]"> - </span>
          <div *ngFor="let benefit of benefits; let i = index">
            <input type="checkbox" class="p-disabled">
            <label>{{ benefit.benefitName }}</label>
          </div>
        </div>
        <div class="summary grid gap-1">
          <h3>
            Job Summary
          </h3>
          <div class="job-position col-3 mt-3">
            <h4>Job Position</h4>
            <span>
              {{ job.positionName }}
            </span>
          </div>
          <div class="employment-type col-3 mt-3">
            <h4>Employment Type</h4>
            <span>
              {{ job.employmentName }}
            </span>
          </div>
          <div class="address col-3 mt-3">
            <h4>Address</h4>
            <span>
              {{ company.address?company.address:'-' }}
            </span>
          </div>
        </div>
        <div class="company mt-4">
          <div class="container grid justify-content-center">
            <div class="sub-container grid col-12 shadow-1 surface-card border-round-sm">
              <h3 class="col-12 col-offset-1">About Company</h3>
              <div class="sub-container col-12 grid">
                <div class="col-4 justify-content-center align-content-center">
                  <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                    width="150" [preview]="true"></p-image>
                </div>
                <div class="title col-8">
                  <a routerLink="/companies/detail/{{ company.companyId }}" class="col-12 text-primary" style="text-decoration: none;">
                    {{ company.companyName }}
                  </a>
                  <div class="city col-12">
                    <i class="pi pi-map-marker"></i>
                    <span>
                      {{ company.cityName }}
                    </span>
                  </div>
                </div>
                <div class="description grid justify-content-center">
                  <span class="col-10">
                    <h4>Description</h4>
                    {{ company.description?company.description:'-' }}
                  </span>
                  <div class="col-10">
                    <h4>Address</h4>
                    <span class="-mt-3">
                      {{ company.address?company.address:'-' }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <p-dialog header="Upload Resume" [modal]="true" [(visible)]="visibleAssignJob" [style]="{ width: '30vw' }">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="resumeUpload">Assign Job</label>
        </div>
        <div class="col-12 md:col-9">
          <p-fileUpload mode="basic" accept=".pdf"></p-fileUpload>
          <p class="text-muted mt-1">Upload file in PDF</p>
        </div>
        <div class="col-12 mt-2">
          <span>Previous File: previous file</span>
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <button type="submit" pButton pRipple class="p-button-primary mr-2">Submit</button>
        </div>
      </div>
    </p-dialog>
    

    