<!-- <pre>{{ job|json }}</pre>
<pre>{{ idJob|json }}</pre> -->
<!-- <pre>{{ company|json }}</pre> -->
<div class="home-container">
  <div class="container grid grid-nogutter justify-content-center">
    <div class="sub-container grid col-12 md:col-10 mt-3 justify-content-center">
      <div class="banner col-12">
      </div>
      <!-- <div class="company-profile grid grid-nogutter jsut">
      </div> -->
      <div class="company-profile grid grid-nogutter col-10 md:col-3 justify-content-center align-items-center">
        <div class="col-12">
          <img src="{{ job.companyPhoto|urlCandidate }}" alt="Image" class="w-10rem border-orange-300 surface-overlay border-3 border-round">
        </div>
      </div>
      <div class="title col-10 md:col-7 grid">
        <span class="col-12 text-3xl">{{ job.jobTitle }}</span>
        <a routerLink="" class="col-12 text-primary" style="text-decoration: none;">
          {{ job.companyName }}
        </a>
        <div class="city col-12">
          <i class="pi pi-map-marker"></i>
          <span>
            {{ job.cityName }}
          </span>
        </div>
        <div class="Salary col-12">
          <i class="pi pi-dollar"></i>
          <span> {{ job.salaryStart }} -</span>
          <span> {{ job.salaryEnd }}</span>
        </div>
        <div class="Industry col-12">
          <i class="pi pi-building"></i>
          <span> {{ job.industryName }}</span>
        </div>
        <div class="footer col-12 mt-3">
          <small>
            <i class="pi pi-clock"></i>
            <span>{{ job.createdAt }} Tayang 14 Hari Yang Lalu</span>
            <span> * </span>
            <span>{{ job.updatedAt }} Diperbaharui 3 hari yang lalu</span>
          </small>
        </div>
        <div class="button grid col-12 gap-3 justify-content-evenly">
          <p-button *ngIf="!job.isApply" styleClass="p-button-raised p-button-text" class="col-5 md:col-3 text-center" (click)="assignJob(job.id)">
            <span class="col-12">
            <i class="pi pi-envelope"></i> Apply Now</span>
          </p-button>
          <p-button *ngIf="job.isApply" styleClass="p-button-raised p-button-text" class="col-5 md:col-3 text-center p-disabled">
            <span class="col-12">
            <i class="pi pi-envelope"></i> Apply Now</span>
          </p-button>
          <p-button *ngIf="!job.isBookmark"  styleClass="p-button-raised p-button-text" class="col-5 md:col-3 text-center" (click)="changeSaveJob(job.id,job.isBookmark,job.saveJobId)">
            <span class="col-12">
            <i class="pi pi-heart size"></i> Save Job</span>
          </p-button>
          <p-button *ngIf="job.isBookmark" styleClass="p-button-raised p-button-text" class="col-5 md:col-3 text-center" (click)="changeSaveJob(job.id,job.isBookmark,job.saveJobId)">
            <span class="col-12">
            <i class="pi pi-heart-fill text-red-500"></i> Save Job</span>
          </p-button>
        </div>
      </div>
    </div>
    <div class="description col-10 md:col-8 grid justify-content-center">
      <div class="col-12">
        <h3>
          Job Description
        </h3>
      </div>
      <div class="col-12">
        <span>
          {{ job.description }}
        </span>
      </div>
      <div class="col-12 benefit">
        <h3>
          Benefit
        </h3>
        <span *ngIf="!benefits[0]"> - </span>
        <div *ngFor="let benefit of benefits; let i = index">
          <input type="checkbox" class="p-disabled">
          <label>{{ benefit.benefitName }}</label>
        </div>
      </div>
      <div class="col-12">
        <h3>
          Job Summary
        </h3>
        <div class="grid justify-content-between">
          <div class="job-position col-3 mt-3">
            <h4>Job Position</h4>
            <span>
              {{ job.positionName }}
            </span>
          </div>
          <div class="employment-type col-3 mt-3">
            <h4>Employment Type</h4>
            <span>
              {{ job.employmentName }}
            </span>
          </div>
          <div class="address col-3 mt-3">
            <h4>Address</h4>
            <span>
              {{ company.address?company.address:'-' }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="description col-10 md:col-8 grid justify-content-center">
      <div class="company mt-4">
        <div class="container grid justify-content-center">
          <div class="sub-container grid col-12 shadow-1 surface-card border-round-sm">
            <h3 class="col-12 col-offset-1">About Company</h3>
            <div class="sub-container col-12 grid justify-content-center">
              <div class="col-12 md:col-4 justify-content-center align-content-center">
                <img src="{{ job.companyPhoto|urlCandidate }}" alt="Image" class="w-full">
              </div>
              <div class="title col-10 md:col-6">
                <a routerLink="/companies/detail/{{ company.companyId }}" class="col-12 text-primary"
                  style="text-decoration: none;">
                  {{ company.companyName }}
                </a>
                <div class="city col-12">
                  <i class="pi pi-map-marker"></i>
                  <span>
                    {{ company.cityName }}
                  </span>
                </div>
              </div>
              <div class="description grid justify-content-center">
                <span class="col-10">
                  <h4>Description</h4>
                  {{ company.description?company.description:'-' }}
                </span>
                <div class="col-10">
                  <h4>Address</h4>
                  <span class="-mt-3">
                    {{ company.address?company.address:'-' }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Assign Job" [modal]="true" [(visible)]="visibleAssignJob" 
[breakpoints]="{'768px': '90vw'}"
  [style]="{width: '35vw' }" [draggable]="false"
>
<pre>{{ assignJobReqDto|json }}</pre>
  <div class="grid surface-card border-round-sm border-400">
    <div class="flex flex-wrap justify-content-end mt-2 col-12">
      <button type="submit" pButton pRipple class="p-button-primary mr-2" (click)="submitAssignJob()">Submit</button>
    </div>
  </div>
</p-dialog>