<div class="container grid justify-content-center p-3">
  <div class=" grid justify-content-center col-12">
    <h3 class="text-center">Skill List</h3>
  </div>
  <div class="card col-9">
    <div class="grid justify-content-end mb-3">
      <app-button label="Add Skill" link="/skills" classBtn="p-button-primary" (clickChange)="add()"></app-button>
    </div>
    <p-table [value]="skills" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Code </th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-p let-i="rowIndex">
        <tr>
          <td scope="row">{{ i+1 }}</td>
          <td>{{ p.skillCode }}</td>
          <td>{{ p.skillName }}</td>
          <td>
            <app-button classBtn="p-button-secondary" tooltipBtn="Edit" tooltipPstn="top" iconBtn="pi pi-pencil"
              (clickChange)="update(p.skillCode)" link="/skills" styleBtn="margin-right:0.5rem;"></app-button>
            <app-button iconBtn="pi pi-trash" classBtn="p-button-danger" tooltipBtn="Delete"
              tooltipPstn="top"></app-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Modal Add-->
  <p-dialog header="Add Data Skill" [modal]="true" [(visible)]="visibleAdd" [style]="{ width: '30vw' }"
    [breakpoints]="{'768px': '90vw'}" [draggable]="false">
    <form [formGroup]="skillInsertReqDto" (ngSubmit)="insertSkill()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="inputName">Skill Name</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 " id="inputName" required formControlName="skillName">
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <app-button btnType="submit" label="Submit" link="/skills"
            [disabled]="skillInsertReqDto.invalid"></app-button>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Update-->
  <p-dialog header="Update Data Skill" [modal]="true" [(visible)]="visibleUpdate" [style]="{ width: '30vw' }">
    <pre>{{skillUpdateReqDto.value | json}}</pre>
    <form [formGroup]="skillUpdateReqDto" (ngSubmit)="updateSkill()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="inputName">Skill Code</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 p-disabled" id="inputName" value={{code}}>
        </div>
        <div class="col-12 md:col-3">
          <label for="inputName">Skill Name</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 " id="inputName" required formControlName="skillName">
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <app-button btnType="submit" label="Submit" link="/skills"></app-button>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Delete -->
  <p-dialog header="Delete Data Skill" [modal]="true" [(visible)]="visibleDelete" [style]="{ width: '30vw' }">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12">
        <label for="inputName">Are You Sure to Delete this Data ? <span style="color: red;">*</span></label>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" iconBtn="pi pi-check" classBtn="p-button-primary" label="Submit"></app-button>
      </div>
    </div>
  </p-dialog>