<div class="container">
  <form [formGroup]="jobInsertReqDto" (ngSubmit)="insertAll()">
    <div class="card-container flex flex-wrap justify-content-center align-items-center" style="min-height: 700px">
      <div class="col-12">
        <h2 class="text-center">Add Vacancy</h2>
      </div>
      <div class="grid shadow-8 m-4 surface-card border-round-sm border-400 p-3 md:col-9 text">
        <div class="flex col-12">
          <h2 class="text-center">Vacancy Information</h2>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Vacancy Title<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <input pInputText type="text" class="form-control col-12" id="companyName" aria-describedby="companyNameHelp"
            required formControlName="jobTitle">
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Position<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown styleClass="w-full" [filter]="true" [options]="position" optionValue="positionCode" optionLabel="positionName"
            formControlName="jobPositionCode"></p-dropdown>
        </div>
        <div class="col-6 md:col-2">
          <label for="companyName" class="form-label">Salary<span style="color: red;">*</span></label>
        </div>
        <div class="col-6 md:col-4">
          <input pInputText type="number" class="form-control col-5" id="companyName" required
            formControlName="salaryStart">
          <span class="col-2">To :</span>
          <input pInputText type="number" class="form-control col-5" id="companyName" required
            formControlName="salaryEnd">
        </div>
        <div class="col-6 md:col-2">
          <label for="companyAddress" class="form-label">Expired Time<span style="color: red;">*</span></label>
        </div>
        <div class="col-6 md:col-4">
          <p-calendar [showIcon]="true" styleClass="w-full" formControlName="endDate"></p-calendar>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Company<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown styleClass="w-full" [filter]="true" [options]="companies" optionValue="companyCode"
            optionLabel="companyName" formControlName="companyCode"></p-dropdown>
        </div>
        <div class="flex col-12">
          <h2 class="text-center">Vacancy Status</h2>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Hr PIC<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown styleClass="w-full" [filter]="true" [options]="hr" optionValue="userId" optionLabel="fullName"
            formControlName="hrId"></p-dropdown>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Status<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown [options]="status" optionValue="statusCode" optionLabel="statusName"
            formControlName="jobStatusCode" styleClass="w-full"></p-dropdown>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Interviewer PIC<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown styleClass="w-full" [filter]="true" [options]="interviewer" optionValue="userId"
            optionLabel="fullName" formControlName="interviewerId" styleClass="w-full"></p-dropdown>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" class="form-label">Employment Type<span style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown [options]="employment" optionValue="typeCode" optionLabel="typeName"
            formControlName="employmentCode" styleClass="w-full"></p-dropdown>
        </div>
        <div class="flex col-12">
          <h2 class="text-center">Summary and Responsibility</h2>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card">
              <p-editor #editor formControlName="description" [(ngModel)]="text"
                [style]="{ height: '350px' }" styleClass="w-full"></p-editor>
            </div>
          </div>
        </div>

        <div class="flex col-12">
          <h2 class="text-center">Benefit</h2>
        </div>
        <div class="col-12 md:col-6">
          <span class="p-fluid">
            <p-autoComplete [suggestions]="filteredBenefit" (completeMethod)="filterBenefit($event)" field="benefitName"
              [multiple]="true" [(ngModel)]="listBenefit" [ngModelOptions]="{standalone: true}"
              (ngModelChange)="benefit($event)"></p-autoComplete>
          </span>
        </div>
        <div class="flex col-12">
          <h2 class="text-center">Assesment</h2>
        </div>
        <div class="col-12 md:col-12">
          <p-inputSwitch [ngModel]="visibleTest" (click)="setQuestion(!visibleTest)"
            [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        </div>
        <div class="col-12 md:col-2">
          <label for="companyName" *ngIf="isVisible()" class="form-label">Test Name<span
              style="color: red;">*</span></label>
        </div>
        <div class="col-12 md:col-4">
          <input *ngIf="isVisible()" pInputText type="text" class="form-control col-12" id="companyName"
            aria-describedby="companyNameHelp" required formControlName="testName">
        </div>
        <div class="col-12">
          <button *ngIf="isVisible()" pButton pRipple label="Add" type="button" (click)="onAdd()"></button>
        </div>
        <div *ngIf="isVisible()" class="grid grid-nogutter col-12">
          <div *ngFor="let c of questionList.controls; let i=index" formArrayName="questionId" class="col-12">
            <div class="col-12 md:col-6">
              <p-dropdown [options]="questions" [filter]="true" [formControlName]="i" optionValue="questionId"
                styleClass="w-full" optionLabel="question"></p-dropdown>
            </div>
            <div class="col-2">
              <p-button type="button" styleClass="p-button-danger" (click)="remove(i)">Remove</p-button>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <app-button routerLink="/job-vacancies" classBtn="p-button-secondary" styleBtn="margin-right:0.5rem"
            iconBtn="pi pi-angle-double-left" label="Back to Previous Menu"></app-button>
          <app-button btnType="submit" [loading]="loading" label="Submit"></app-button>
        </div>
      </div>
    </div>
  </form>
</div>