<pre>{{ applications|json }}</pre>
<pre>{{ this.userEmail|json }}</pre>

<div class="app-container grid justify-content-center mt-5">
  <div class="container col-9">
    <p-tabView orientation="left">
      <p-tabPanel header="Application">
        <div class="application grid">
          <div class="view-by col-4">
            <h3 class="mb-6">
              {{ !applications ? '0 Applications' : '' }}
              {{ applications ? applications[0].totalStage+' Applications' : '' }}
            </h3>
            <span class="p-float-label col-12">
              <p-dropdown [options]="options" optionLabel="name" inputId="float-label" styleClass="w-full"></p-dropdown>
              <label for="float-label">View By</label>
            </span>
          </div>
          <div class="content col-12">
            <div *ngFor="let a of applications" class="box-content grid bg-primary-50 h-15rem p-3 md:p-2 mb-3 md:mb-5">
              <div class="company-photo col-3 md:col-2 text-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                  class="mt-3 w-4rem md:w-6rem lg:8rem">
              </div>
              <div class="content-app col-9 md:col-10">
                <div class="m-2">
                  <span class="text-bold text-2xl">{{ a.jobName }}</span>
                </div>
                <div class="m-2">
                  <span>{{ a.companyName }}</span>
                </div>
                <div class="m-2">
                  <span><i class="pi pi-calendar">Submitted on {{ a.createdAt }}</i></span>
                </div>
                <div class="m-2">
                  <p-chip class="col-12 text-center bg-success col-6 md:col-12" label="Application"></p-chip>
                  <i class="pi pi-circle-fill"></i>
                  <span class="ml-2">Job Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Assesment">
        <div class="application grid">
          <div class="view-by col-4">
            <h3 class="mb-6">
              <!-- {{ !assesments? '0 Applications' : '' }}
              {{ assesments ? assesments[0].totalStage+' Applications' : '' }} -->
            </h3>
            <span class="p-float-label">
              <p-dropdown [options]="options" optionLabel="name" inputId="float-label" styleClass="w-full"></p-dropdown>
              <label for="float-label">View By</label>
            </span>
          </div>
          <div class="content col-12">
            <div *ngFor="let a of assesments" class="box-content grid bg-primary-50 h-15rem p-3 md:p-2 mb-3 md:mb-5">
              <div class="company-photo col-3 md:col-2 text-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                  class="mt-3 w-4rem md:w-6rem lg:8rem">
              </div>
              <div class="content-app col-9 md:col-10">
                <div class="m-2">
                  <span class="text-bold text-2xl">{{ a.jobName }}</span>
                </div>
                <div class="m-2">
                  <span>{{ a.companyName }}</span>
                </div>
                <div class="m-2">
                  <span><i class="pi pi-calendar">Submitted on {{ a.createdAt }}</i></span>
                </div>
                <div class="m-2">
                  <p-chip class="col-12 text-center bg-success col-6 md:col-12" label="Application"></p-chip>
                  <i class="pi pi-circle-fill"></i>
                  <span class="ml-2">Job Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Interview">
        <div class="application grid">
          <div class="view-by col-4">
            <h3 class="mb-6">
              {{ !interview? '0 Applications' : '' }}
              {{ interview ? interview[0].totalStage+' Applications' : '' }}
            </h3>
            <span class="p-float-label">
              <p-dropdown [options]="options" optionLabel="name" inputId="float-label" styleClass="w-full"></p-dropdown>
              <label for="float-label">View By</label>
            </span>
          </div>
          <div class="content col-12">
            <div *ngFor="let a of interview" class="box-content grid bg-primary-50 h-15rem p-3 md:p-2 mb-3 md:mb-5">
              <div class="company-photo col-3 md:col-2 text-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                  class="mt-3 w-4rem md:w-6rem lg:8rem">
              </div>
              <div class="content-app col-9 md:col-10">
                <div class="m-2">
                  <span class="text-bold text-2xl">{{ a.jobName }}</span>
                </div>
                <div class="m-2">
                  <span>{{ a.companyName }}</span>
                </div>
                <div class="m-2">
                  <span><i class="pi pi-calendar">Submitted on {{ a.createdAt }}</i></span>
                </div>
                <div class="m-2">
                  <p-chip class="col-12 text-center bg-success col-6 md:col-12" label="Application"></p-chip>
                  <i class="pi pi-circle-fill"></i>
                  <span class="ml-2">Job Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="MCU">
        <!-- Konten Tab -->
      </p-tabPanel>
      <p-tabPanel header="Offering">
        <div class="application grid">
          <div class="view-by col-4">
            <h3 class="mb-6">
              {{ !offering? '0 Applications' : '' }}
              {{ offering ? offering[0].totalStage+' Applications' : '' }}
            </h3>
            <span class="p-float-label">
              <p-dropdown [options]="options" optionLabel="name" inputId="float-label" styleClass="w-full"></p-dropdown>
              <label for="float-label">View By</label>
            </span>
          </div>
          <div class="content col-12">
            <div *ngFor="let a of offering" class="box-content grid bg-primary-50 h-15rem p-3 md:p-2 mb-3 md:mb-5">
              <div class="company-photo col-3 md:col-2 text-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                  class="mt-3 w-4rem md:w-6rem lg:8rem">
              </div>
              <div class="content-app col-9 md:col-10">
                <div class="m-2">
                  <span class="text-bold text-2xl">{{ a.jobName }}</span>
                </div>
                <div class="m-2">
                  <span>{{ a.companyName }}</span>
                </div>
                <div class="m-2">
                  <span><i class="pi pi-calendar">Submitted on {{ a.createdAt }}</i></span>
                </div>
                <div class="m-2">
                  <p-chip class="col-12 text-center bg-success col-6 md:col-12" label="Application"></p-chip>
                  <i class="pi pi-circle-fill"></i>
                  <span class="ml-2">Job Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Hired">
        <div class="application grid">
          <div class="view-by col-4">
            <h3 class="mb-6">
              {{ !hired? '0 Applications' : '' }}
              {{ hired ? hired[0].totalStage+' Applications' : '' }}
            </h3>
            <span class="p-float-label">
              <p-dropdown [options]="options" optionLabel="name" inputId="float-label" styleClass="w-full"></p-dropdown>
              <label for="float-label">View By</label>
            </span>
          </div>
          <div class="content col-12">
            <div *ngFor="let a of hired" class="box-content grid bg-primary-50 h-15rem p-3 md:p-2 mb-3 md:mb-5">
              <div class="company-photo col-3 md:col-2 text-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                  class="mt-3 w-4rem md:w-6rem lg:8rem">
              </div>
              <div class="content-app col-9 md:col-10">
                <div class="m-2">
                  <span class="text-bold text-2xl">{{ a.jobName }}</span>
                </div>
                <div class="m-2">
                  <span>{{ a.companyName }}</span>
                </div>
                <div class="m-2">
                  <span><i class="pi pi-calendar">Submitted on {{ a.createdAt }}</i></span>
                </div>
                <div class="m-2">
                  <p-chip class="col-12 text-center bg-success col-6 md:col-12" label="Application"></p-chip>
                  <i class="pi pi-circle-fill"></i>
                  <span class="ml-2">Job Closed</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Reject">
        <!-- Konten Tab -->
      </p-tabPanel>
    </p-tabView>
  </div>
</div>