<div>
  <div class=" grid justify-content-center col-12">
    <h3 class="text-center">Employee List</h3>
  </div>
  <div class="card mb-3">
    <p-table #employee [value]="employees" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single" [globalFilterFields]="['candidateName']">
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input #searchInput pInputText type="text" [(ngModel)]="search"
              (input)="employee.filterGlobal(search ,'contains')" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>No</th>
          <th>Candidate</th>
          <th>Company</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-e let-i="rowIndex">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{e.candidateName}}</td>
          <td>{{e.companyName}}</td>
          <td>
            <app-button classBtn="p-button-danger" (clickChange)="add(e.candidateId, e.companyId)"
              iconBtn="pi pi-pencil" label="Blacklist" link="/employees"></app-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Modal Blacklist-->
<p-dialog header="Add Blacklist" [modal]="true" [(visible)]="visibleBlacklist" [style]="{ width: '30vw' }"
  [breakpoints]="{'768':'90vw'}" [draggable]="false">
  <form [formGroup]="blacklistInsertReqDto" (ngSubmit)="insertBlacklist()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12">
        <label for="inputName">Apakah kamu ingin memasukkan candidate ke dalam blacklist?</label>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" label="Submit" [loading]="loading"></app-button>
      </div>
    </div>
  </form>
</p-dialog>