<div>
  <div class=" grid justify-content-center col-12">
    <h3 class="text-center">User List</h3>
  </div>
  <div>
    <div class="grid justify-content-end mb-3">
      <app-button classBtn="mr-3" label="Add User" btnType="button" link="create"></app-button>
    </div>
    <p-table [value]="users" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th scope="col">No</th>
          <th scope="col">Email</th>
          <th scope="col">Name </th>
          <th scope="col">Role</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Is Active</th>
          <th scope="col">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-columns="columns" let-c let-i="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="c" binary="true"></p-tableCheckbox>
          </td>
          <td scope="row">{{ i+1 }}</td>
          <td>{{ c.userEmail}}</td>
          <td>{{ c.fullName }}</td>
          <td>{{ c.roleName }}</td>
          <td>{{ c.userPhone }}</td>
          <td>
            <p-tag [severity]="c.isActive?'primary':'danger'" [value]="c.isActive"></p-tag>
          </td>
          <td>
            <p-inputSwitch [ngModel]="c.isActive" (click)="setActive(c.userId, !c.isActive)"> </p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Modal Add-->
  <p-dialog header="Add Data benefit" [modal]="true" [(visible)]="visibleIsActive" [style]="{ width: '30vw' }">
    <pre>{{userIsActiveReqDto.value | json}}</pre>
    <form [formGroup]="userIsActiveReqDto" (ngSubmit)="insertIsActive()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12">
          <label for="inputName">Apakah anda ingin mengubah status User?</label>
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <app-button btnType="submit" link="/users" label="Submit"></app-button>
        </div>
      </div>
    </form>
  </p-dialog>