<div class="grid grid-nogutter h-screen">
  <div class="col-12 md:col-5 text-center p-5 form-register">
    <form [formGroup]="userInsertReqDto" (ngSubmit)="insert()"
      class="flex flex-column align-content-center justify-content-center h-full gap-3">
      <div class="text-center">
        <h2>Create An Account</h2>
      </div>
      <div>
        <label for="email">Email<span style="color: red;">*</span></label>
      </div>
      <div>
        <input pInputText type="text" class="form-control col-12" id="email" required formControlName="email">
      </div>
      <div>
        <label for="fullName">Fullname<span style="color: red;">*</span></label>
      </div>
      <div>
        <input pInputText type="text" class="form-control col-12" id="fullName" required formControlName="fullname">
      </div>
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <p-password styleClass="w-full" [inputStyle]="{'width':'100%'}" [toggleMask]="true" id="password"
          [feedback]="false" formControlName="pass">
        </p-password>
      </div>
      <div>
        <app-button classBtn="w-4 surface-900 text-100" label="Register" [loading]="loading" btnType="submit"></app-button>
      </div>
      <div>
        <a routerLink="/login">
          Already have an account? Login!
        </a>
      </div>
    </form>
  </div>
  <div class="col-12 md:col-7">
    <h3 class="image-register flex text-100 text-6xl text-center align-items-center justify-content-center">
      <q>
        P for Punten, P is not for Greetings
      </q>
    </h3>
  </div>
</div>