<!-- home.component.html -->
<div class="home-container grid justify-content-center p-3">
  <div class="container col-9">
    <h3>Your bookmarked jobs (1)</h3>
    <span>
      Don't forget these jobs that you have bookmarked before. Apply early and increase your chances to be hired!
    </span>
    <div class="content grid">
      <p-card class="col-12 md:col-6 mt-4" *ngFor="let industry of companyIndustries">
        <div class="thumbnail grid">
          <div class="col-4 justify-content-center align-content-center">
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="100"
              [preview]="true"></p-image>
          </div>
          <div class="title col-8 grid">
            <span class="col-10">Software Engineering Lead</span>
            <i class="pi pi-heart-fill col-2 flex justify-content-end" style="color: deeppink"></i>
            <a routerLink="" class="col-12 text-primary" style="text-decoration: none;">PT Mirae Assset Sekuritas</a>
          </div>
        </div>
        <div class="city">
          <i class="pi pi-map-marker"></i>
          <span>
            Jakarta Selatan
          </span>
        </div>
        <div class="Salary">
          <i class="pi pi-dollar"></i>
          <span> 3000000 -</span>
          <span> 7000000</span>
        </div>
        <div class="Industry">
          <i class="pi pi-building"></i>
          <span> Financial Service</span>
        </div>
        <ng-template pTemplate="footer">
          <small>
            <i class="pi pi-clock"></i>
            <span> Diperbaharui 31 hari yang lalu</span>
          </small>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>