<div class="min-h-screen">
  <div class="grid grid-nogutter justify-content-center">
    <div class="col-12">
      <h3 class="text-center">Question List</h3>
    </div>
    <div class="col-9 shadow-2 surface-card border-round-sm border-800 p-2">
      <p-table #question [value]="questions" styleClass="p-datatable-striped" [paginator]="true" [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single" [globalFilterFields]="['question']">
      <ng-template pTemplate="caption">
        <div class="flex">
            <app-button routerLink="create" label="Add Question" classBtn="mr-2"></app-button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input #searchInput pInputText type="text" [(ngModel)]="search"
                (input)="question.filterGlobal(search ,'contains')" placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Question</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-i="rowIndex">
          <tr [pSelectableRow]="question" routerLink="./detail/{{question.questionId}}">
            <td scope="row">{{ i+1 }}</td>
            <td>{{ question.question }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>