
<div class="grid grid-nogutter justify-content-center min-h-screen">
    <div class=" col-11 md:col-9 bg-white-alpha-50 shadow-3 m-4 surface-card">
        <h1 class="text-center">Change Password</h1>
        <div class="flex justify-content-center"> 
            <form class="col-12 grid align-items-center gy-md-3 w-8" [formGroup]="userChangePassReqDto">
                <div class="col-12 md:col-3">
                    <label for="old-password" >Old Password <span class="text-red-500">*</span></label>
                </div>
                <div class="col-12 md:col-9">
                    <p-password styleClass = "w-full" [inputStyle]="{'width':'100%'}" [toggleMask]="true" id="old-password" formControlName="userOldPass" [feedback]="false"></p-password>
                    <small class="p-error block mt-1" *ngIf="userChangePassReqDto.get('userOldPass')?.invalid&&userChangePassReqDto.get('userOldPass')?.touched">Old Password Required</small>
                </div>
                <div class="col-12 md:col-3">
                    <label for="new-password" >New Password <span class="text-red-500">*</span></label>
                </div>
                <div class="col-12 md:col-9">
                    <p-password styleClass = "w-full" [inputStyle]="{'width':'100%'}" [toggleMask]="true" id="new-password" formControlName="userNewPass" [feedback]="true"></p-password>
                    <small class="p-error block mt-1" *ngIf="userChangePassReqDto.get('userNewPass')?.invalid&&userChangePassReqDto.get('userNewPass')?.touched">New Password Required</small>
                </div>
                <div class="col-12 md:col-3">
                    <label for="new-password-confirm" >Confirm New Password <span
                            class="text-red-500">*</span></label>
                </div>
                <div class="col-12 md:col-9">
                    <p-password styleClass = "w-full" [inputStyle]="{'width':'100%'}" [toggleMask]="true" id="new-password-confirm" formControlName="userConfirmNewPass" [feedback]="true"></p-password>
                    <small class="p-error block mt-1" *ngIf="userChangePassReqDto.get('userConfirmNewPass')?.invalid&&userChangePassReqDto.get('userConfirmNewPass')?.touched">New Password Required</small>
                </div>
                <div class="col-12 mt-2 grid grid-nogutter justify-content-end ">
                    <div>
                        <app-button label="Save Changes" [loading]="loading" btnType="submit" (clickChange)="updatePass()" [disabled]="userChangePassReqDto.invalid"></app-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>