<div class="card">
  <p-menubar  *ngIf="isAdmin" [model]="items">
    <ng-template pTemplate="start">
      <img src="../../../assets/images/logo.png" height="60" class="mx-2 cursor-pointer logo" routerLink="/home" />
    </ng-template>
    <ng-template pTemplate="end">
      <img [src]="imgUrl" height="40" class="bg-center w-3rem h-3rem border-round" />
    </ng-template>
  </p-menubar>

  <p-menubar *ngIf="isCandidate" [model]="itemsCandidate">
    <ng-template pTemplate="start">
      <img src="../../../assets/images/logo.png" height="60" class="mx-2 cursor-pointer logo" routerLink="/home" />
    </ng-template>
    <ng-template pTemplate="end">
      <img [src]="imgUrl" height="40" class="bg-center w-3rem h-3rem border-round" />
    </ng-template>
  </p-menubar>
</div>