::ng-deep .p-menubar .p-menuitem:hover > .p-menuitem-content .p-menuitem-link {
    background-color:#e3ddc5 ;
    border-bottom: 2px solid #224674; 
  }
  ::ng-deep
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
      background-color: #e3ddc5;
    color: #224674;
  }
::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: #224674;
}

::ng-deep
.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
  color: #224674;
}

::ng-deep
.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #224674;
}

::ng-deep .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  background-color:#e3ddc5;
}

::ng-deep .p-menubar {
  border-radius: 0;
  background-color: #e3ddc5;
  border: none;
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
