<div>
  <div class=" grid justify-content-center col-12">
    <h3 class="text-center">Table Company List</h3>
  </div>
  <div>
    <div class="grid justify-content-end mb-3">
      <button routerLink="create" pButton pRipple class="p-button-primary" label="Add Company"></button>
    </div>
    <p-table [value]="companies" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Company Code </th>
          <th scope="col">Company Name</th>
          <th scope="col">Company Industry</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-c let-i="rowIndex">
        <tr>
          <td scope="row">{{ i+1 }}</td>
          <td>{{ c.companyCode}}</td>
          <td>{{ c.companyName }}</td>
          <td>{{ c.industryName }}</td>
          <td>{{ c.address }}</td>
          <td>{{ c.cityName }}</td>
          <td>{{ c.description }}</td>
          <td>
            <button routerLink="/companies/update/{{ c.companyCode }}" icon="pi pi-pencil" pButton pRipple class="p-button-secondary"
              pTooltip="Edit" tooltipPosition="top" style="margin-right: 0.3rem;"></button>
            <button routerLink="/users/profile" icon="pi pi-trash" pButton pRipple class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>