<!-- home.component.html -->
<pre>{{ companyData|json }}</pre>
<div class="home-container grid justify-content-center">
  <div class="company mt-4 col-9">
    <div class="container grid justify-content-center">
      <div class="sub-container grid col-12 shadow-1 surface-card border-round-sm">
        <h3 class="col-12 col-offset-1">About Company</h3>
        <div class="sub-container grid">
          <div class="col-3 col-offset-1 justify-content-center align-content-center">
            <img src="{{ companyData.fileId|urlCandidate }}" alt="Image" class="w-5rem md:w-full">
          </div>
          <div class="title col-8">
            <span class="col-12 text-primary">
              {{ companyData.companyName }}
            </span>
            <div class="city col-12">
              <i class="pi pi-map-marker"></i>
              <span>
                {{ companyData.cityName }}
              </span>
            </div>
            <div class="city col-12">
              <i class="pi pi-building"></i>
              <span>
                {{ companyData.industryName }}
              </span>
            </div>
          </div>
          <div class="description grid justify-content-center">
            <span class="col-10">
              <h3>Company Details</h3>
              <h4>Description</h4>
              {{ companyData.description?companyData.description:'-' }}
            </span>
            <div class="col-10">
              <h4>Address</h4>
              <span class="-mt-3">
                {{ companyData.address?companyData.address:'-' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>