<div class="min-h-screen">
  <div class=" grid grid-nogutter justify-content-center ">
    <div class="col-12">
      <h3 class="text-center">Table City List</h3>
    </div>
    <div class="col-9 shadow-2 surface-card border-round-sm border-800 p-2">
      <p-table #city [value]="cities" styleClass="p-datatable-striped" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single" [globalFilterFields]="['cityName']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <app-button routerLink="new" label="Add City"></app-button>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input #searchInput pInputText type="text" [(ngModel)]="search"
                (input)="city.filterGlobal(search ,'contains')" placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Code </th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p let-i="rowIndex">
          <tr>
            <td scope="row">{{ i+1 }}</td>
            <td>{{ p.cityCode }}</td>
            <td>{{ p.cityName }}</td>
            <td>
              <app-button routerLink="/cities/update/{{p.cityCode}}" classBtn="p-button-secondary"
                iconBtn="pi pi-pencil" styleBtn="margin-right:0.5rem;" tooltipBtn="Edit" tooltipPstn="top"></app-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- modal  -->
  <!-- <p-dialog header="Add Data benefit" [modal]="true" [style]="{ width: '30vw' }">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Benefit Code</label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 p-disabled" id="inputName" required formControlName="productName"
          value="JKAHS">
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">Benefit Name</label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="productName">
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <button type="submit" pButton pRipple class="p-button-primary">Submit</button>
      </div>
    </div>
  </p-dialog> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeStatusModalLabel">Delete Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>
          Apakah anda yakin ingin menghapus data ini ?
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->