<!-- home.component.html -->
<div class="home-container">
  <!-- Carousel -->
  <div class="jumbotron grid grid-nogutter h-screen overflow-hidden">
    <div class="container text-white-alpha-70 text-2xl md:text-4xl text-center flex flex-column align-content-center justify-content-center">
      <h2 class="text-bold">Find The <span class="text-white-alpha-90">Perfect</span> Job That You <span class="text-white-alpha-90">Deserved</span></h2>
      <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, neque laborum deserunt dolor amet beatae
        quas praesentium unde atque hic a natus numquam ex ipsam odit asperiores rerum quis non.</q>
    </div>
  </div>

  <!-- Search Options -->
  <div class="container mt-5 grid grid-nogutter justify-content-center align-content-center">
    <div class="sub-container col-7 grid justify-content-between">
      <h4 class="text-dark col-12 -mb-3">
        Search Vacancy
      </h4>
      <div class="search-options col-12 mt-3">
        <form [formGroup]="searchJobReqDto" (ngSubmit)="searchJobs()">
          <div class="grid grid-nogutterjustify-content-between ">
            <div class="col-12 md:col-3">
              <input pInputText type="text" placeholder="Search Job" formControlName="jobName"
                [style]="{'width':'100%'}">
            </div>
            <div class="col-12 md:col-3">
              <p-dropdown placeholder="Location" [options]="locations" [filter]="true" optionValue="cityId"
                optionLabel="cityName" formControlName="location" [showClear]="true" autoWidth="false"
                styleClass="w-full" (onClear)="onLocationClear()">
              </p-dropdown>
            </div>
            <div class="col-12 md:col-3">
              <p-dropdown placeholder="Position" [options]="positions" [filter]="true" optionValue="id"
                optionLabel="positionName" formControlName="position" [showClear]="true" autoWidth="false"
                styleClass="w-full" (onClear)="onPositionClear()">
              </p-dropdown>
            </div>
            <div class="col-12 md:col-3">
              <button type="submit" pButton pRipple class="p-button-primary col-12">
                <i class="pi pi-search m-1"></i> Cari
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Company Industries -->
  <div class="container mt-5 grid grid-nogutter justify-content-center align-content-center">
    <div class="sub-container col-7 grid grid-nogutter justify-content-between">
      <h4 class="text-dark col-12 -mb-3">
        Company Industry
      </h4>
      <div class="industry-box cursor-pointer " *ngFor="let industry of industries">
        <div routerLink="job/industry/{{ industry.id }}"
          class="col-12 hover:shadow-6 shadow-2 m-4 surface-card border-round-sm border-400 w-12rem text-center">
          <p class="text-primary">
            {{industry.industryName}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>