.home-container {
  background-color: #F8F7F3;
}


.jumbotron{
    background-image: url(../../../../assets/images/job.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron::after{
   display: block;
   background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
   position: absolute;
   bottom: 0;
}
