
<div class="home-container grid grid-nogutter justify-content-center min-h-screen">
  <h2 class="col-12 md:col-10 text-center">All Company</h2>
  <div class="content col-12 md:col-10 grid justify-content-center">
    <p-card class="col-11 md:col-6 lg:col-4 mt-4 hover:shadow-4" *ngFor="let c of companyData">
      <a routerLink="/companies/detail/{{ c.companyId }}" style="text-decoration: none;" class="text-black-alpha-90">
        <div class="thumbnail grid">
          <div class="col-4 justify-content-center align-content-center">
            <img src="{{ c.fileId|urlCandidate }}" alt="Image" class="w-full h-7rem" style="object-fit: contain;">
          </div>
          <div class="title col-8 grid">
            <span class="col-12">{{ c.companyName }}</span>
            <span class="col-12">{{ c.cityName }}</span>
          </div>
        </div>
        <div class="Industry">
          <i class="pi pi-building"></i>
          <span>{{ c.industryName }}</span>
        </div>
        <div class="footer">
          <small>
            <i class="pi pi-clock"></i>
            <span *ngIf="!c.updatedAt"> Updated {{ c.createdAt|timeAgo }}</span>
            <span *ngIf="c.updatedAt"> Updated {{ c.createdAt|timeAgo }}</span>
          </small>
        </div>
      </a>
    </p-card>
  </div>
  <p-scrollTop styleClass="custom-scrolltop" [threshold]="130" icon="pi pi-arrow-up">
  </p-scrollTop>
</div>