<footer>
  <div class="text-white-alpha-90 text-center p-3">
    <ul class="social-account grid grid-nogutter justify-content-center">
      <li><a href="" ><i class="pi pi-facebook text-3xl text-white-alpha-90 "></i></a></li>
      <li><a href=""><i class="pi pi-instagram text-3xl ml-3 text-white-alpha-90" ></i></a></li>
      <li><a href=""><i class="pi pi-twitter text-3xl ml-3 text-white-alpha-90"></i></a></li>
      <li><a href=""><i class="pi pi-github text-3xl ml-3 text-white-alpha-90"></i></a></li>
    </ul>
    <p>&#9400; 2023 InLook - Info Loker | All Rights Reserved</p>
  </div>
</footer>