<div class="container grid justify-content-center p-3">
  <div class=" grid justify-content-center col-12">
    <h3 class="text-center">Benefit List</h3>
  </div>
  <div class="card col-9">
    <div class="grid justify-content-end mb-3">
      <button pButton pRipple class="p-button-primary" (click)="add()" label="Add benefit"></button>
    </div>
    <p-table [value]="benefits" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50]" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">No</th>
          <th scope="col">benefit Code </th>
          <th scope="col">benefit Name</th>
          <th scope="col">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-p let-i="rowIndex">
        <tr>
          <td scope="row">{{ i+1 }}</td>
          <td>{{ p.benefitCode }}</td>
          <td>{{ p.benefitName }}</td>
          <td>
            <button pButton pRipple class="p-button-secondary" pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil"
              (click)="update(p.benefitCode)" style="margin-right: 0.3rem;"></button>
            <button (click)="deleteModal(3)" icon="pi pi-trash" pButton pRipple class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <!-- Modal Add-->
  <p-dialog header="Add Data benefit" [modal]="true" [(visible)]="visibleAdd" [style]="{ width: '30vw' }">
    <form [formGroup]="benefitInsertReqDto" (ngSubmit)="insertBenefit()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="inputName">Benefit Name</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 " id="inputName" required formControlName="benefitName">
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <button type="submit" pButton pRipple class="p-button-primary">Submit</button>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Update-->
  <p-dialog header="Update Data benefit" [modal]="true" [(visible)]="visibleUpdate" [style]="{ width: '30vw' }">
    <pre>{{benefitUpdateReqDto.value | json}}</pre>
    <form [formGroup]="benefitUpdateReqDto" (ngSubmit)="updateBenefit()">
      <div class="grid surface-card border-round-sm border-400">
        <div class="col-12 md:col-3">
          <label for="inputName">Benefit Code</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 p-disabled" id="inputName" required formControlName="productName"
            value={{code}}>
        </div>
        <div class="col-12 md:col-3">
          <label for="inputName">Benefit Name</label>
        </div>
        <div class="col-12 md:col-9">
          <input pInputText type="text" class="col-12 " id="inputName" required formControlName="benefitName">
        </div>
        <div class="flex flex-wrap justify-content-end mt-2 col-12">
          <button type="submit" pButton pRipple class="p-button-primary"
            [disabled]="benefitUpdateReqDto.invalid">Submit</button>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- Modal Delete -->
  <p-dialog header="Delete Data benefit" [modal]="true" [(visible)]="visibleDelete" [style]="{ width: '30vw' }">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12">
        <label for="inputName">Are You Sure to Delete this Data ? <span style="color: red;">*</span></label>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <button type="submit" icon="pi pi-check" pButton pRipple class="p-button-primary">Submit</button>
      </div>
    </div>
  </p-dialog>