<div class="container min-h-screen">
  <div class="sub-container grid grid-nogutter justify-content-center">
    <div class="grid grid-nogutter col-11">
      <div class="col-12">
        <h2 class="text-center">Question Detail</h2>
      </div>
      <div class="col-12 mb-2">
        <app-button classBtn="p-button-secondary mt-1" label="Back" routerLink="/questions"></app-button>
      </div>
    </div>
    <div class="col-11 shadow-2 surface-card border-round-sm border-800 p-2">
      <div class="grid grid-nogutter">
        <div class="col-3">
          <h3>Question: </h3>
        </div>
        <div class="col-3">
          <app-button iconBtn="pi pi-pencil" label="Edit Question" (clickChange)="editQuestion()">
          </app-button>
        </div>
        <div class="col-12">
          <form class="edit-form">
            <textarea pInputTextarea rows="4" cols="50" id="question" name="question" [value]="questions?.question"
              disabled class="w-full"></textarea>
          </form>
        </div>
      </div>
      <p-table [value]="listOption" class="options-table">
        <ng-template pTemplate="header">
          <tr>
            <th>No</th>
            <th>Option</th>
            <th>Answer</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-option let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{option.labels}}</td>
            <td>{{option.isAnswer}}</td>
            <td>
              <app-button (clickChange)="editOption(option.questionOptionId)" iconBtn="pi pi-pencil" label="Edit">
              </app-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- Modal Update Question -->
<p-dialog header="Update Question" [modal]="true" [(visible)]="visibleUpdateQuestion" [style]="{ width: '30vw' }"
  [breakpoints]="{'768px':'90vw'}" [draggable]="false">
  <form [formGroup]="questionUpdateReqDto" (ngSubmit)="updateQuestion()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Question<span style="color: red;">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <textarea pInputTextarea type="text" class="col-12 " id="inputName" required
          formControlName="question"></textarea>
        <small class="p-error block mt-1"
          *ngIf="questionUpdateReqDto.get('question')?.invalid&&questionUpdateReqDto.get('question')?.touched">This
          Fill is Required</small>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" classBtn="p-button-primary" [disabled]="questionUpdateReqDto.invalid"
          label="Submit"></app-button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- Modal Update Option-->
<p-dialog header="Update Option" [modal]="true" [(visible)]="visibleOption" [style]="{ width: '30vw' }"
  [breakpoints]="{'768px':'90vw'}" [draggable]="false">
  <form [formGroup]="optionUpdateReqDto" (ngSubmit)="updateOption()">
    <div class="grid surface-card border-round-sm border-400">
      <div class="col-12 md:col-3">
        <label for="inputName">Label<span style="color: red;">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <input pInputText type="text" class="col-12 " id="inputName" required formControlName="labels">
        <small class="p-error block mt-1"
          *ngIf="optionUpdateReqDto.get('labels')?.invalid&&optionUpdateReqDto.get('labels')?.touched">This
          Fill is Required</small>
      </div>
      <div class="col-12 md:col-3">
        <label for="inputName">Answer<span style="color:red">*</span></label>
      </div>
      <div class="col-12 md:col-9">
        <p-dropdown [options]="keyAnswer" styleClass="w-full" optionLabel="name" optionValue="value"
          formControlName="isAnswer">
        </p-dropdown>
      </div>
      <div class="flex flex-wrap justify-content-end mt-2 col-12">
        <app-button btnType="submit" classBtn="p-button-primary" [disabled]="optionUpdateReqDto.invalid" label="Submit">
        </app-button>
      </div>
    </div>
  </form>
</p-dialog>