<div class="grid grid-nogutter h-screen">
    <div class="col-12 md:col-7">
        <h3 class="image-login flex text-100 text-6xl text-center align-items-center justify-content-center">
            <q>
                P for Punten, P is not for Greetings
            </q>
        </h3>
    </div>
    <div class="col-12 md:col-5 p-5 form-login">
        <form [formGroup]="userLoginReqDto" class="flex flex-column align-content-center justify-content-center h-full gap-3">
            <div>
                <h1>Login</h1>
            </div>
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input class="w-full" type="email" pInputText id="email" formControlName="userEmail">
                <small class="p-error block mt-1" *ngIf="userLoginReqDto.get('userEmail')?.invalid&&userLoginReqDto.get('userEmail')?.touched">Email Invalid</small>
            </div>
            <div>
                <label for="password">Password</label>
            </div>
            <div>
                <p-password styleClass="w-full" [inputStyle]="{'width':'100%'}" [toggleMask]="true" id="password"
                    [feedback]="false" formControlName="userPassword"></p-password>
                    <small class="p-error block mt-1" *ngIf="userLoginReqDto.get('userPassword')?.invalid&&userLoginReqDto.get('userPassword')?.touched">Password Required</small>
            </div>
            <div class="text-center">
                <app-button classBtn="w-4 surface-900 text-100" label="Login" [loading]="loading" btnType="button" [disabled]="userLoginReqDto.invalid" (clickChange)="onLogin()"></app-button>
            </div>
            <div class="text-center">
                <span>Don't have account? </span>
                <a routerLink="/register">Sign Up</a>
            </div>
        </form>
    </div>
</div>