.image-login {
    /* background-image: url(../../../assets/images/olena-sergienko-dIMJWLx1YbE-unsplash.jpg); */
    height: 100vh;
    background: linear-gradient(180deg, rgba(19, 98, 26, 0.537) 0%, rgba(255, 255, 255, 0.194) 68.23%), url(../../../assets/images/olena-sergienko-dIMJWLx1YbE-unsplash.jpg) no-repeat;
    background-size: auto, auto;
    background-size: cover;

}