/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Poppins', sans-serif;
     background-color: var(--SECONDARY);
}
body{
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    background-color: dodgerblue;
    position: fixed;
    height: 4rem;
    bottom: 0;
}

footer .social-icon li a:hover{
    transform: translateY(-2rem);
}

:root {
    --PRIMARY: #bab893;
    --SECONDARY: #F8F7F3;
}

@import "primeicons/primeicons.css";